{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div  style="margin: 1em" class="portlet-centro ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div align="center" class="portlet-header-centro ui-widget-header ui-corner-all"><h1>{{ 'resetting.request.title'|trans({}, 'OpenSocialBundle') }}</h1></div>
				<div class="portlet-content">
					<div style="margin: 1em">
						{{ 'resetting.request.description'|trans({}, 'OpenSocialBundle') }}
						
						<div style="margin: 2em" align="center">
							{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
						<div>
					</div>
				</div>
			</div>


</div>

{% endblock fos_user_content %}


